<!DOCTYPE html>
<html lang="id">
<head>
  {% include head.html %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {%- seo -%}
</head>
<body>
  {{ content }}
  <p>MyStyle.my.id adalah tempat di mana kita bisa menemukan berbagai link hiburan menarik, cocok dibagikan ke keluarga, pasangan, teman, dan siapa pun yang kita sayangi. Selain itu, ada juga MyStyle Shop, yang membuat kita bisa sambil belajar sekaligus berbelanja dengan seru.</p>
</body>
</html>
